@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Three Amigos Corp. is one of the world's leading event management teams, we have over 20,000 customers in Europe alone, and are rapidly expanding our customer base world wide.</p>
