@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    3 Dorest Rise<br />
    London, EC4Y 8EN<br />
    <abbr title="Phone">P:</abbr>
    02065890254
</address>

<address>
    <strong>Support:</strong> <a href="mailto:J.Fairbairn@tees.ac.uk">J.Fairbairn@tees.ac.uk</a><br />
    <strong>Marketing:</strong> <a href="mailto:V8077971@live.tees.ac.uk">V8077971@live.tees.ac.uk</a>
</address>
